@font-face {
    font-family: 'Alagard'; /* Choose a name for your font */
    src: url("Fonts/alagard.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: '7-seg'; /* Choose a name for your font */
    src: url("Fonts/digital-7.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  @font-face {
    font-family: 'Basis-33'; /* Choose a name for your font */
    src: url("Fonts/basis33.ttf") format('truetype'); /* Relative path to your font file */
    /* Include additional src declarations for other font formats here if needed */
  }
  
  .segment-group, .dummy-group {
    display: flex;
    margin-bottom: 1em;
  }

  
  .dummy-group {
    position: relative;
    margin-top: auto !important;
    margin-left: 1vh !important;
  }

.segment-group input, .dummy-group {
    width: 3vw;
    height: 3vw; /* Make it square */
    text-align: center;
    margin: 0 0.1em; /* Add space between segments */
    font-size: 1.75em; /* Increase font size */
    font-weight: bold; /* Make text bold */
  }
input::placeholder {
    color:grey;
    opacity: 1;
}

input:disabled{
  color: white !important;
}

input:disabled::placeholder {
  color: white !important;
  opacity: 1;
}

::selection{
    user-select: none;
    opacity: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0; /* Remove default body margin */
    font-family: 'Basis-33', sans-serif;
  }
input {
    font-family: '7-seg', sans-serif;
    font-size: 1em;
}
input::placeholder {
    font-family: '7-seg', sans-serif;
    font-size: 1em;
}
  
#segmentedInputsContainer {
align-self: center;
transform: translateY(12vh);
/*z-index: -1; // This caused the segmentedInputsContainer to go underneath the body, making it unusable// */
}

#guessCounterHolder, #timer {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 10vw;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  font-size: 1.5em;
  border-top: none;
}
#timer{
  right: 25%;
}
#guessCounterHolder{
  left: 25%;
}

#title {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10vh;
  width: 20vw;
  padding-left: 1vh;
  padding-right: 1vh;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: black;
  border-top: none;
  font-family: 'alagard', 'basis-33', sans-serif;
}

#infoBoxLeft, #infoBoxRight{
  position: fixed;
  display: flex;
  width: 18vw;
  height: 50vh;
  top: 10vh;
}

.boxed{
  background-color: white;
  border: solid black 5px;
}

#infoBoxLeft{
  left: 18vw; 
}

#infoBoxRight{
  right: 18vw; 
}

#infoBoxLeft, #infoBoxRight, #guessCounterHolder, #title, #timer{
  z-index: 2;
}